/*
COLORS

Primary: #eb2f64
Primary light: #FF3366
Primary dark: #BA265D

Grey light 1: #faf9f9
Grey light 2: #f4f2f2
Grey light 3: #f0eeee
Grey light 4: #ccc

Grey dark 1: #333
Grey dark 2: #777
Grey dark 3: #999

*/
:root {
  --color-primary: red;
  --color-primary-light: lightpink;
  --color-primary-dark: darkred;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1:  #333;
  --color-grey-dark-2:  #777;
  --color-grey-dark-3:  #999;
  --shadow-dark: 0 2rem 6rem rgba(0,0,0,.3);
  --shadow-light: 0 2rem 5rem rgba(0,0,0,.06);
  --line: 1px solid var(--color-grey-light-2); }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-grey-light-1);
  background-image: linear-gradient(to right bottom, var(--color-primary-light), lightskyblue);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh; }

.container {
  height: 100vh;
  font-size: 2rem;
  text-align: left;
  padding: 2rem;
  display: grid;
  grid-template-rows: repeat(5, [row-start] 1fr [row-end]);
  grid-template-columns: repeat(3, [col-start] 2fr [col-end]) 1fr [grid-end];
  grid-gap: 2rem;
  grid-template-areas: "head head head ." "box-1 box-2 box-3 side" "main main main side" "main main main side" "foot foot foot foot"; }
  .container > * {
    padding: 1rem; }

.item.header {
  background-color: yellowgreen;
  grid-area: head; }

.item.box-1 {
  justify-self: center;
  grid-area: box-1;
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  background-color: lightskyblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.item.box-2 {
  background-color: lightskyblue;
  grid-area: box-2; }

.item.box-3 {
  background-color: lightskyblue;
  grid-area: box-3; }

.item.sidebar {
  background-color: palevioletred;
  grid-area: side; }

.item.main {
  background-color: purple;
  grid-area: main;
  align-self: end; }

.item.footer {
  background-color: orangered;
  grid-area: foot; }
